{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Parktime : Organise and manage your favourite playgrounds </p>
    <p class="box">
      <i class="fas fa-tree fa-10x" style="color:rgb(1, 26, 5)"></i>
    </p>
  </div>
</section>