{{> menu active="dashboard"}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> 
      {{> list-parklists}} 
      {{> add-parklist}}
    </h>
  </div>
  <div class="column">
    <img src="/images/DSC_4520.jpg">
  </div>
</div>