<form action="/dashboard/addparklist" method="POST">
  <div class="field">
    <label class="label is-large">Create a list of playgounds</label> <input class="input" type="text" placeholder="Enter a category name" name="title">
  </div>
  <button class="button is-black"> Create a Category </button>
</form>